<form [formGroup]="settingForm">
    <h3 mat-dialog-title>Paramètres</h3>
    <mat-dialog-content class="dialog-settings">
            <div class="priorite">
                <span class="setting-content">Quel transport privilegier ?</span>
                <mat-checkbox formControlName="marche" checked="true">Marche</mat-checkbox>
                <mat-checkbox formControlName="metro" checked="true">Metro</mat-checkbox>
                <mat-checkbox formControlName="autotaxi" checked="true">Autotaxi</mat-checkbox>
                <mat-checkbox formControlName="velo" checked="true">Velo</mat-checkbox>
            </div>
            <div class="priorite">
                <span class="setting-content">Quelle est votre priorité ?</span>
                <mat-radio-group aria-label="Quelle est votre priorité ?" formControlName="preference">
                    <mat-radio-button value="fastest">Le plus rapide</mat-radio-button>
                    <mat-radio-button value="lessWalk">Le moins de marche</mat-radio-button>
                    <mat-radio-button value="LessCO2">Le plus écologique</mat-radio-button>
                    <mat-radio-button value="Dry">Le moins de pluie</mat-radio-button>
                </mat-radio-group>
            </div>
            <button mat-button (click)="onNoClick()">Confirmer</button>
    </mat-dialog-content>
</form>