<app-home-banner></app-home-banner>
<app-map></app-map>
<mat-toolbar color="primary" class="dir">
    <span *ngIf="cos<0.52 && cos>=-0.52">
        <span>Aller à l'Est</span>
        <mat-icon>arrow_forward</mat-icon>
    </span>
    <span *ngIf="cos<1.04 && cos>=0.52">
        <span>Aller au Nord-Est</span> 
        <mat-icon style="transform: rotate(315deg)">arrow_forward</mat-icon>
    </span>
    <span *ngIf="cos<2.09 && cos>=1.04">
        <span>Aller au Nord</span>
                <mat-icon style="transform: rotate(270deg)">arrow_forward</mat-icon>

    </span>
    <span *ngIf="cos<2.61 && cos>=2.09">
        <span>Aller au Nord-Ouest</span>
        <mat-icon style="transform: rotate(225deg)">arrow_forward</mat-icon>
    </span>
    <span *ngIf="cos<-2.61 && cos>=2.61">
        <span>Aller à l'Ouest</span>
        <mat-icon style="transform: rotate(180deg)">arrow_forward</mat-icon>
    </span>
    <span *ngIf="cos<-2.09 && cos>=-2.61">
        <span>Aller au Sud-Ouest</span>
        <mat-icon style="transform: rotate(135deg)">arrow_forward</mat-icon>
    </span>
    <span *ngIf="cos<-1.04 && cos>=-2.09">
        <span>Aller au Sud</span>
        <mat-icon style="transform: rotate(90deg)">arrow_forward</mat-icon>
    </span>
    <span *ngIf="cos<-0.52 && cos>=-1.04">
        <span>Aller au Sud-Est</span>
        <mat-icon style="transform: rotate(45deg)">arrow_forward</mat-icon>
    </span>
</mat-toolbar>
<body>
<mat-accordion>
    <mat-expansion-panel *ngFor="let way of ways; let i = index">
        <mat-expansion-panel-header>
        <mat-panel-title>
            cost(way)
        </mat-panel-title>
        <mat-panel-description>
            <div *ngFor="let trans of way.transports">
                <span *ngIf="trans == 'velo'">
                    <mat-icon>directions_bike</mat-icon>
                </span>
                <span *ngIf="trans == 'marche'">
                    <mat-icon>directions_walk</mat-icon>
                </span>
                <span *ngIf="trans == 'metro'">
                    <mat-icon>directions_subway</mat-icon>
                </span>
                <span *ngIf="trans == 'autotaxi'">
                    <mat-icon>local_taxi</mat-icon>
                </span>
            </div>
            <button mat-icon-button (click)="move()">
                <mat-icon>check</mat-icon>
            </button>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <app-way [currentWay]=way></app-way>
    </mat-expansion-panel>
</mat-accordion>
