.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-right-block {
    display: flex;
    align-items: stretch;
}

.item {
    display: flex;
    align-items: center;
}

.item + .item {
    margin-left: 12px;
}